*{margin: 0; padding: 0;}

@font-face {
	font-family: paradize;
	src: url('../polices/Another_day_in_Paradise.ttf');
}

@font-face {
	font-family: champagne;
	src: url('../polices/Champagne_&_Limousines.ttf');
}

@font-face {
	font-family: comfortaa;
	src: url('../polices/Comfortaa-Regular.ttf');
}

@font-face {
	font-family: geo;
	src: url('../polices/GeosansLight.ttf');
}

body {
	background: #F8F9F9;
}

div.bandeau {
  position: relative;
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: white;
	border-bottom: 1px solid #D5D5D5;
}

div#photo {
	position: relative;
	height: 300px;
	width: 100%;
	background: url("../images/photobg.jpg") 50% 15% no-repeat;
	background-size: 100%;
}

nav {
  position: absolute;
	margin-top: 30px;
	height: 100px;
	top: 0;
	right: 0;
}

li {
  display: inline-block;
}

table {
	margin: auto;
  position: relative;
  background: none;
	border-spacing: 80px;
	border-top: 1px solid #D5D5D5;
}

th, td {
	padding: 30px;
	background: white;
	border: 1px solid #D5D5D5;
	border-radius: 10px;
}

th:hover, td:hover{
	border: 1px solid #222222;
}

footer {
	position: relative;
	width: 100%;
	background: white;
	border-top: 1px solid #D5D5D5;
}

a {
	display: block;
	text-decoration: none;
	font-family: geo;
	font-size: 3em;
	color: white;
}

a:hover {
	border-bottom: 2px solid white;
}

a.active {
	border-bottom: 2px solid white;
}

p {
	font-family: comfortaa;
}

h1 {
  font-family: champagne, arial;
  font-size: 5em;
  color: #222222;
}

img#logo {
	position: absolute;
	top: 15px;
	Left: 15px;
	height: 70px;
	transition-duration: 1s;
}

img.social {
	margin-right: 10px;
	height: 30px;
}

img.produit {
	height: 200px;
}
